*{
    box-sizing: border-box;
}
body{
   background-color: #b0aaa7;
   font-family: 'Times New Roman', serif;
}
#wrapper{
    width: 80%;
    border: solid 5px red;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    background-color: #bfb5b6;
}

#header{
    border: solid 5px green;
    display: flex;
    flex-direction: row;
    text-align: center;
}
#leftNav{
   
    width: 30%;
}
#leftNav > form {
    margin-top: 8px;
}
#leftNav > form > fieldset{
    padding: 0;
    margin : 0;
}
#leftNav > form > fieldset > input {
    width: 208px;
    height: 46px;
}
#title{
    width: 40%;
}
#rightNav{
    width: 30%;
}
#content{
    border: solid 5px yellow;
    display: flex;
    flex-direction: column;
}
#main{
    border: solid 5px blue;
    display: inline-block;
}
#footer{
    border: solid 5px brown;
}
.day{
    width: 80%;
    height: 40%;
    margin-left: 10%;
    margin-right: 10%;
    text-align: center;
}
.day > h2{
    margin-left: 20px;
}
.gallery{
    text-align: center;
    width: 80%;
    height: 70%;
    margin-left: 10%;
    margin-right: 10%;
    display: flex;
}
.gallery > img{
    width: 50%;
}
.gallery > video{
    width: 100%;
}
.day > .writing{
    width: 80%;
    height: 30%;
    margin-left: 10%;
    margin-right: 10%;
}
#header > #title > h1{
    margin-left: 25px;
    margin-bottom: 10px;
    margin-top: 30px;
    text-decoration: none;
}
#header > #title > a:link{
    text-decoration: none;
    color: #8d8986;
}
#header > #title > a:visited{
    color: #8d8986;
}
#header > #title > a:hover{
    color:#cfc0b9;
}
#rightNav ul.icons li{
    display: inline-block;
}
#rightNav ul .icons li .label{
    display: none;
}